PySimpleGUI~=4.60.4
Jinja2
requests~=2.28.1
SQLAlchemy==1.4.42
selenium~=4.5.0
bs4~=0.0.1
fake_useragent
webdriver_manager
alembic~=1.8.1
beautifulsoup4~=4.11.1
lxml
autopep8
flake8
mypy
pytest
Faker
parameterized
